// sass-lint:disable nesting-depth
.wc-table {
  &.wc-respond {
    tr {
      &[aria-selected='true'] {
        // allow unnested pseudo element here for ease of maintenance
        //sass-lint:disable force-pseudo-nesting
        &,
        &.wc-invite:hover,
        &.wc-invite:focus {
          background-color: $sample-clr-dark-grey;
        }

        > th,
        > td {
          &,
          a,
          a:visited,
          .wc-linkbutton {
            color: $sample-clr-light-grey;
          }
        }
        //sass-lint:enable force-pseudo-nesting
      }
    }
  }
}
