// sass-lint:disable nesting-depth
.wc_menu_bar {
  &.wc_menu_fix {
    background-color: transparent;

    [role='banner'] & {
      > .wc-submenu {
        > button {
          color: $sample-clr-white;
        }
      }
    }

    section > header  & {
      > .wc-submenu > button {
        color: $sample-clr-white;
      }
    }
  }
}
