
$wc-clr-white: #fff !default;
$wc-clr-black: #000 !default;

$wc-clr-light-grey: #fafafa !default;
$wc-clr-grey: #ccc !default;
$wc-clr-dark-grey: #696969 !default;
$wc-clr-light-grey-rgba: rgba(0, 0, 0, .02) !default;
$wc-clr-grey-rgba: rgba(0, 0, 0, .25) !default;
$wc-clr-dark-grey-rgba: rgba(0, 0, 0, .9) !default;


$wc-clr-red: #af0000 !default;
$wc-clr-pink: #ffdfdf !default;

$wc-clr-orange: #cf4000 !default;

$wc-clr-green: #060 !default;

$wc-clr-dark-blue: #45699f !default;
$wc-clr-light-blue: #bbd6ff !default;
$wc-clr-light-blue-rbga: rgba(204, 229, 255, .5) !default;

$wc-clr-violet: #880ce8 !default;
