
// Common components - form elements, basic element selectors, elements which
// are shared by many WComponents.
body {
  background-color: $sample-clr-white;
  color: $sample-clr-black;
}

p {
  margin: 0 0 $wc-gap-large;
}

fieldset {
  border-color: $sample-clr-grey;
}

input,
select,
textarea {
  &[aria-invalid='true'] {
    background-color: $sample-clr-pink;
  }

  &[disabled] {
    background-color: $wc-clr-disabled-bg;
    border-color: $wc-clr-disabled-border;
    color: $wc-clr-disabled-fg;
  }
}


// NOTE: backwards compatibility with WC 1.4 - not really needed.
legend {
  font-weight: bold;
}

// #############################################################################
// LINKS (`a` element not `link` element)
// The order of these matters even though it looks wrong. By defining :visited
// before a we do not have to do a double override of the disabled state.
// Disabled links. Gotta love the monkey who came up with that one.
// #############################################################################
:visited {
  color: $sample-clr-violet;
}

a {
  color: $sample-clr-dark-blue;
}

// wc-invite is a common class for indicating a control which has an
// "invitation" on hover/focus.
.wc-invite {
  @include wc-invite;
}

// Mark an error state. This is a secondary indicator of an error state separate
// from the aria-invalid state. It is used when the maxlength is exceeded in a
// textarea or when a label (or equivalent) is not provided. This has to be
// present but the actual style does not matter a lot. Eventually we should be
// able to remove the missing label warnings and move this to textarea only.
.wc-err {
  color: $sample-clr-red;
}

// The modal shim is a single generated artefact with a constant id.
// sass-lint:disable no-ids
#wc-shim {
  background-color: $sample-clr-dark-grey-rgba;
  color: $sample-clr-black;
}
// sass-lint:enable no-ids

// invalid
[aria-invalid='true'] {
  @include wc-outline($color: $sample-clr-red);
}

// These are colour classes. Colour classes are _very_ dangerous. Therefore we
// do not supply any which act on actual elements. These colours will,
// therefore, only act on the pseudo element used to generate an icon. Extend
// these as you feel fit.
.wc-cerror {
  &::before {
    color: $sample-clr-red;
  }
}

.wc-cwarning {
  &::before {
    color: $sample-clr-orange;
  }
}

.wc-cinfo {
  &::before {
    color: $sample-clr-dark-blue;
  }
}

.wc-csuccess {
  &::before {
    color: $sample-clr-green;
  }
}
