// listbox for combo and datefield
[role='listbox'] {
  background-color: $sample-clr-light-grey;
  color: $sample-clr-black;
}

[role='combobox'] {
  // The whole combo is invalid but we only want to apply the background
  // color to the textbox.
  &[aria-invalid='true'] {
    > input {
      background-color: $sample-clr-pink;
    }
  }
}
