@import 'theme/vars/colors';

// Disabled control colours are special. They are harder to get 4.5:1 and still
// look disabled!
$wc-clr-disabled-fg: $wc-clr-dark-grey !default;
$wc-clr-disabled-bg: $wc-clr-light-grey !default;
$wc-clr-disabled-border: $wc-clr-dark-grey !default;
// Turn off the generic border colour by setting this vakue to -1. This will
// also turn off the outline of "today" in the date picker claendar.
$wc-border-color: $wc-clr-grey !default;



// the space between the section box and its content. Reversed to "dock" a menu.
$wc-section-space-normal: $wc-gap-normal !default;
// the space between the section box and its content. Reversed to "dock" a menu.
$wc-section-space-reduced: $wc-phone-gap-normal !default;
