// Sets common hover and focus effects.
@mixin wc-invite {
  &:hover,
  &:focus {
    background-color: $sample-clr-light-blue;
    cursor: pointer;
  }

  &[disabled],
  &[aria-disabled='true'] {
    &:hover {
      background-color: inherit;
      cursor: auto;
    }
  }
}
