// We use a single ID'd component for all calendar date pickers and move it
// around to where it is needed.
// sass-lint:disable no-ids
// This is the calendar container.
// sass-lint:disable no-ids
#wc_calbox {
  @include border;
  background-color: $sample-clr-white;
}

// The calendar table
#wc_calendar {
  thead {
    @include border($pos: bottom);
  }

  th {
    background-color: $sample-clr-light-grey;
  }
}

#wc_caldaybox {
  td {
    color: $wc-clr-disabled-fg;
  }
}
// sass-lint:enable no-ids

// date picker buttons
.wc_wdf_pick {
  color: $sample-clr-black;

  &[aria-pressed='true'] { // selected date
    background-color: $sample-clr-dark-grey;
    color: $sample-clr-light-grey;
  }
}

.wc_wdf_today { // today
  @include wc-outline;
}
