dialog {
  background: transparent;

  > div { // dialog content container
    background-color: $sample-clr-white;
    border-color: $sample-clr-grey;
  }

  > header,
  > footer { // top and bottom bars of dialog
    background-color: $sample-clr-dark-blue;
    color: $sample-clr-white;
  }

  > header {
    > h1 { // the title
      color: $sample-clr-white;
    }

    button {
      @include border($color: $sample-clr-white);
    }
  }
}
