.wc_msgbox {
  @include border($color: $sample-clr-red);
  @include flex;

  > div {
    @include flex-align-self(center);

    > div + div {
      margin-top: $wc-gap-normal;
    }
  }

  > h1 {
    background-color: $sample-clr-red; // default error box
    color: $sample-clr-white;

    > span {
      left: -9999px;
      max-height: 1rem;
      max-width: 1rem;
      overflow: hidden;
      position: absolute;
    }
  }
}

// message types - there can only be one type per box
.wc-messagebox-type-warn {
  border-color: $sample-clr-orange;

  > h1 {
    background-color: $sample-clr-orange;
  }
}

.wc-messagebox-type-info {
  border-color: $sample-clr-dark-blue;

  > h1 {
    background-color: $sample-clr-dark-blue;
  }
}

.wc-messagebox-type-success {
  border-color: $sample-clr-green;

  > h1 {
    background-color: $sample-clr-green;
  }
}

.wc-timeoutwarning {
  > h1 {
    > span {
      // sass-lint:disable nesting-depth
      &:first-child {
        max-height: none;
        max-width: none;
        overflow: visible;
        position: static;
      }
    }
  }
}
