// #############################################################################
// WPanel type CHROME
// See wc.section.color
// #############################################################################
.wc-panel-type-chrome {
  > h1 {
    background-color: $sample-clr-dark-blue;
    color: $sample-clr-white;
  }
}

// #############################################################################
// Type.ACTION
// #############################################################################
// See wc.section.color
.wc-panel-type-action {
  background-color: $sample-clr-white;
  border-color: $sample-clr-violet;

  > h1 {
    background-color: $sample-clr-violet;
    color: $sample-clr-white;
  }
}

// #############################################################################
// WPanel Type.FEATURE
// #############################################################################
// 'The feature panel is highlighted by a background colour and border.'


.wc-panel-type-feature {
  background-color: $sample-clr-light-grey;
  border-color: $sample-clr-grey;
  color: $sample-clr-dark-blue;
  padding: $wc-gap-normal;
}

// #############################################################################
// Type FOOTER
// #############################################################################
footer {
  background-color: $sample-clr-light-grey;
  color: $sample-clr-dark-blue;
  padding: $wc-gap-normal;
}


// #############################################################################
// Type HEADER
// #############################################################################
[role='banner'] {
  background-color: $sample-clr-dark-blue;
  padding: $wc-gap-normal;

  // Set the foreground colour of components which have their own defined
  // colour so will not inherit from the container.
  &,
  h1,
  .wc-linkbutton,
  a,
  // allow unnested pseudo element here for ease of maintenance
  //sass-lint:disable force-pseudo-nesting
  a:visited {
    color: $sample-clr-white;
  }
}


// #############################################################################
// ListLayout
// #############################################################################
.wc-listlayout-type-striped > :nth-child(even) {
  background-color: $sample-clr-light-grey;
  color: $sample-clr-black;
}
