[role='tab'] {
  background-color: $sample-clr-light-grey;
  border-color: $sample-clr-grey;
  color: $sample-clr-black;

  &[aria-selected='true'],
  &[aria-expanded='true'] {
    background-color: $sample-clr-white;
  }

  &[aria-disabled='true'] {
    border-color: $sample-clr-grey;
  }
}

[role='tabpanel'] {
  @include border;
  background-color: $sample-clr-white;
  color: $sample-clr-black;

  [aria-multiselectable] > & {
    border-bottom: 0;
    border-top: 0;
  }
}
