// toggle button styles based on https://codepen.io/mallendeo/pen/eLIiG
.wc-togglebutton {
  &[data-wc-component],
  > button {
    background-color: $sample-clr-light-grey;

    &::after {
      background-color: $sample-clr-light-grey;
    }
  }

  &[data-wc-component] {
    background-color: $sample-clr-white;
  }

  > button {
    &:focus {
      background-color: $sample-clr-light-blue;
    }

    &[aria-checked='true'] {
      background-color: $sample-clr-dark-grey;
    }

    &[disabled] {
      background-color: $wc-clr-disabled-bg;
    }
  }
}
