[role='tree'] {
  [aria-selected='true'] {
    background-color: $wc-clr-dark-grey;
    color: $wc-clr-light-grey;
  }

  &,
  [role='group'] {
    background-color: $wc-clr-white;
    color: $wc-clr-black;
  }
}

[role='tree'].wc_htree {
  [role='group'] {
    border-left-color: $wc-clr-grey;
    border-left-width: 3px;

    &.wc_tree_root {
      border-left-width: 0;
    }
  }
}

.wc_branch_resize_handle {
  background-color: $wc-clr-light-grey;
  color: $wc-clr-black;
}
