[role='tree'] {
  [aria-selected='true'] {
    background-color: $sample-clr-dark-grey;
    color: $sample-clr-light-grey;
  }

  &,
  [role='group'] {
    background-color: $sample-clr-white;
    color: $sample-clr-black;
  }

  &.wc_htree {
    [role='group'] {
      border-left-color: $sample-clr-grey;
      border-left-width: 3px;

      &.wc_tree_root {
        border-left-width: 0;
      }
    }
  }
}

.wc_branch_resize_handle {
  background-color: $sample-clr-light-grey;
  color: $sample-clr-black;
}
